<%= turbo_stream_from [current_user, :video_calls] %>

<h1 class="mb-4">Welcome <%= @dashboard.user.name %> 👋</h1>
<div>
  <div class="d-flex">
    <div id="video_calls">
      <%=
        render(@dashboard.video_calls.not_completed) ||
        render(partial: "video_calls/start_call")
      %>
    </div>
  </div>
</div>
