<div class="jumbotron">
  <h1 class="display-4">Welcome to On Demand Video Visit!</h1>
  <p class="lead">If you are a doctor can use this to setup calls with your patients with ease.</p>
  <hr class="my-4">
  <p>If you are a patient and want to talk to a doctor.</p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg" %> |
  <%= link_to "Log In", new_user_session_path, class: "btn btn-lg" %>
</div>