<div class="jumbotron">
  <h1 class="display-4">You have no video visit schedule or in progress</h1>
  <p class="lead">You can start one by clicking the button below or from the top menu bar.</p>
  <hr class="my-4">
  <%= link_to "Start New Video Call", new_video_call_path, class: "btn btn-primary btn-lg" %>
</div>
