


<div class="row">
  <div class="col-sm-6">
    <h1>Video_calls</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_video_call_path, class: 'btn btn-primary' do %>
    Add New Video call
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @video_calls.each do |video_call| %>
        <%= content_tag :tr, id: dom_id(video_call), class: dom_class(video_call) do %>
          
            <td><%= link_to video_call.name, video_call %></td>
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
